.radio-select-input__option {
  display: table;
  width: 100%;
  padding: 0.28571429em 0;
}
.radio-select-input__input input {
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.radio-select-input__input {
  width: 1px;
      border-width: 0.42857143em;
}
.radio-select-input__status {
  content: '';
  background-color: #fff;
  position: absolute;
  left: 0;
  border-width: 0.42857143em;
  box-sizing: border-box;
  width: 1.42857143em;
  height: 1.42857143em;
  border: 1px solid #72777d;
  border-radius: 100%;
}

input:checked + .radio-select-input__status {
  border-width: 0.42857143em;
  border-color: #36c;
}

.radio-select-input__input,
.radio-select-input__label {
  display: table-cell;
  vertical-align: top;
}

.radio-select-input__label {
  padding-left: 0.42857143em;
  white-space: normal;
  line-height: 1.42857143em;
}