.drawer.collection-editor-overlay {
  overflow: hidden;
  background: #fff;
  text-align: left;
  padding-top: 8px;
  width: auto;

  .content-container {
    margin: 0;
  }

  label {
    margin-top: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
  }

  .overlay-content {
    overflow: hidden;
  }

  input {
    margin-bottom: 20px;
  }
}
